@model NaveedElectronicWeb.NEModel.Guarantor

<div>
    <h4>Guarantor</h4>

    <p>
        <ul class="breadcrumb">
            <li class="active">
                <strong>
                    @Html.ActionLink("Back to List", "Index")
                </strong>
            </li>
            <li class="active">

                @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
            </li>
        </ul>


    </p>
    <hr />
   
   <ul class="list-group">
       <li class="list-group-item">
           <small class="text-info">Guarantor Name</small>
           <h4>@Model.GuarantorName</h4>
           <h6>@Model.NIC</h6>
           <h6>@Model.Contact</h6>
           <h6>@Model.PrimaryAddress</h6>
           <h6>@Model.Customer.CustomerName <small>@Html.ActionLink("View", "Details","Customer",new { id=Model.CustomerId},new { @class="text-dark"})</small> </h6>
       </li> 
   </ul>

    @if (Model.CustomerOrders.Count > 0)
    {
        <ul class="list-group">
            <li class="list-group-item active">Guaranteed Orders </li>

            @foreach (var item in Model.CustomerOrders.OrderBy(co => co.Id))
            {

                int OrderTotal = item.OrderDetails.Sum(od => (od.SalePrice * od.Quantity) - od.Discount);
                int OrderPayment = item.OrderPayments.Sum(od => od.AmountPaid);
                int OrderDues = OrderTotal - OrderPayment;

                string Active = string.Empty;

                if (OrderDues > 0)
                {
                    Active = "list-group-item-info";
                }


                <li class="list-group-item @Active">
                    <div class="row">
                        <div class="col-md-3">
                            <small class="text-info">Date</small>
                            <h6 class="text-muted">@item.OrderDate.ToString("ddd, dd MMM yyyy")</h6>
                        </div>
                        <div class="col-md-3">
                            <small class="text-info">Due Date</small>
                            <h6 class="text-muted">@item.DueDate.ToString("ddd, dd MMM yyyy")</h6>
                        </div>
                        <div class="col-md-3">
                            <small class="text-info">Due Date</small>
                            <h6 class="text-muted">
                                @OrderDues
                            </h6>
                        </div>
                        <div class="col-md-3">
                            <br />
                            @Html.ActionLink("View Order", "Details", "Order", new { id = item.Id }, null)
                        </div>
                    </div>

                </li>
            }
            <li class="list-group-item">@Html.ActionLink("Add New", "Create", "Order", new { customerid = Model.Id }, new { @class = " text-dark" })</li>
        </ul>
    }
</div>
